body{
margin: 0;
padding: 0rem 10rem;

}

.nav-bar{
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;



}
.logo-box{
    background-color: transparent;
}

.nav-items{
    background-color: transparent;
    list-style: none;
    display: flex;
  
}
 .nav-btn{
    background-color: transparent;
    display: flex;
    padding: 10px;


 }
    
 li{
    list-style-type: none;
    display: inline;
    padding: 10px;
    
 }
a{
    text-decoration: none;
    color:purple;
}

.btn{
    background-color:red;
    color: white;
    font-family: DM Sans sans-serif;
    text-align: center;
    font-size: 17px;
    padding: 20px 50px;
}

.hero{
display: flex;
justify-content: space-between;
gap: 3rem;
margin:2rem;
}

h1{
    font-family: DM Sans sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 77px;
    color: #19191b;
} 

.contect{
    font-family: Mulish sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #696871;
}

.right{
    width: 580px;
    height: 644px;
    top: 190px;
    left: 720px;
}
.hero-btn-box{
    /* background-color: red; */
    display: flex;
    gap: 2rem;
    align-items: center;
}
.hero-btn{
    background-color: #5454D4;
    color: #ffff;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.arrow-down-box{
    /* background-color: purple; */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid lightgrey
}

.products{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

}
.contect-img02{
    /* background-color: #4d910d; */
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;

}
.left2{
width: 348.5px;
height: 473px;
top: 1132px;
left: 184px;

}
.right2{
    width: 556px;
height: 229px;
top: 1254px;
left: 698px;

}

.sub{ width: 556px;
height: 57px;
font-family: DM Sans sans-serif;
font-size: 50px;
font-weight: 700;
line-height: 57px;
text-align: left;
color: #19191B;
padding-top: 5rem;

}

.contect2{
font-family: Mulish sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
color: #696871;
    text-align: left;
    
}

.learn{
    width: 89px;
height: 22px;
top: 207px;
font-family: DM Sans sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 22px;
color: #5454D4;
}
.metrics{
    /* background-color: aqua; */
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}
.in{
    font-family: DM Sans sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563158392906189px;
    padding-top: 5rem;
    
}
.cont{
    font-family: Mulish sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #696871;
}
.lea{
    font-family: DM Sans sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color:#5454D4;
}
.right3{
    width: 346.37px;
height: 474px;
top: 1688px;
left: 802px;
}
.icon-box{
    /* background-color: brown; */
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;

}
.icon-cont{
   font-family: DM Sans sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.7503160238265991px;
text-align: center;
color: #19191B;

}
.p-cont{
font-family: Mulish sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.5002105832099915px;
text-align: center;
color: #696871;

}
.icon-cont2{
    font-family: DM Sans sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.7503160238265991px;
text-align: center;
color: #19191B;
}
.p-cont1{
    font-family: Mulish sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.5002105832099915px;
text-align: center;
color: #696871;
}
.icon-cont3{
    font-family: DM Sans sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.7503160238265991px;
text-align: center;
color: #19191B;
}
.p-cont2{
    font-family: Mulish sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.5002105832099915px;
text-align: center;
color: #696871;
}
.icon-img1{
    width: 151px;
    height: 97px;
    top: 2300px;
    left: 264px;
    padding-left: 3rem;
    
}
.icon-img2{
    width: 151px;
    height: 97px;
    top: 2300px;
    left: 639px;
    padding-left: 1rem;
    
}
.icon-img3{
    width: 151px;
height: 97px;
top: 2300px;
left: 1026px;
padding-left: 3rem;

}
.last-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    left: 155px;
    top: 2658px;
    padding-top: 5rem;
    /* background-color:red; */
}
.get-plan{
    width: 523px;
height: 140px;
font-family: DM Sans sans-serif;
font-size: 60px;
font-weight: 700;
line-height: 70px;
letter-spacing: -1.875789999961853px;
text-align: left;
}
.btn-boxp{
    width: 346px;
height: 65px;
top: 48px;
/* left: 765px; */
display: flex;
padding-right: 5px;
}

.y{
    width: 160px;
height: 55px;
top: 5px;
left: 8px;
background-color: #5454D4;
width: 140px;
height: 40px;
top: 23px;
border-radius: 10PX 0px 0px 10px;
justify-content: center;
 padding-left: 4rem; 
color: white;
padding: 10px;
text-align: center;

}
.m{
    width: 140px;
height: 40px;
top: 23px;
left: 171px;
font-family: DM Sans sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: -0.5002105832099915px;
text-align: center;
background-color:hsl(240, 18%, 87%);
border-radius: 0px  10px 10px 0px;
padding: 10px;
}
.card-navigation1{
    /* background-color: yellowgreen; */
    width: 330px;
   height: 441px;
   padding-top: rem;
   background-color: #F8F8F8;
   border-radius: 10px;
   
}
.srt{
    font-family: DM Sans sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5627369284629822px;
    text-align: center;
    padding-top: 2rem;
}

h2{
    font-family: DM Sans sans-serif;
font-size: 60px;
font-weight: 700;
line-height: 40px;
letter-spacing: -1.034482717514038px;
text-align: center;

}
.host{
    font-family: Mulish sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 45px;
letter-spacing: -0.5314737558364868px;
text-align: center;

}
.get-button{
    font-family: DM Sans sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: -0.5314737558364868px;
text-align: center;
color:#5454D4;
padding: 1rem 1rem;
border-radius: 10px;
background-color: #FFFFFF;
 margin: 2rem 2rem;
}

.dola-nav {
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    margin-left: 5.5rem;
    line-height: 10px;
    color: #FFFFFF;
    

}
.dola1{
  
font-family: DM Sans sans-serif;
font-size: 60px;
font-weight: 700;
/* line-height: 56px; */
letter-spacing: -1.034482717514038px;


}
.dola2{
   font-family: DM Sans sans-serif;
font-size: 28px;
font-weight: 700;
/* line-height: 56px; */
letter-spacing: -1.034482717514038px;
text-align: center; 
}
 .premium-nav{
    background-color: #FF7143;
    display: flex;
    width: 376px;
height: 473px;
border-radius: 10px;
 }
.prem{
    font-family: DM Sans sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.5627369284629822px;
text-align: center;
margin-left: 5rem;
color: #FFFFFFB2;
padding-top: 2rem;
padding-right: 3rem;

}
.prm-sup{
    font-family: Mulish sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 50px;
letter-spacing: -0.5314737558364868px;
text-align: center;
margin-left: 3rem;
color: #FFFFFF;

}
.gt-start{
    font-family: DM Sans sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: -0.5314737558364868px;
text-align: center;
margin-left: 1.9rem;
margin-right: 1rem;
color: #FFFFFF;
background: #9F3919;

    padding: 1rem 7rem ;
    border-radius: 10px;
}
.enterprise-nav{
    background-color:#F8F8F8 ;
    width: 330px;
height: 441px;
border-radius: 10px;
 padding-top: 1rem; 

}
.dol-nav1{
font-family: DM Sans sans-serif;
font-size: 60px;
font-weight: 700;
/* line-height: 56px; */
letter-spacing: -1.034482717514038px;
text-align: center;

}
.dol-nav2{  
     font-family: DM Sans sans-serif;
    font-size: 28px;
    font-weight: 700;
    /* line-height: 56px; */
    letter-spacing: -1.034482717514038px;
    text-align: center; 
}
.dol-nav{
    /* background-color: #5454D4; */
    display: flex;
align-items: center;
justify-content: center;
line-height: 2px;
margin-top: 1rem;

}
.ent-nav{
    font-family: DM Sans sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.5627369284629822px;
text-align: center;
padding-top: 1.5rem;
}
.web{
    font-family: Mulish sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.5314737558364868px;
text-align: center;

}
.gt2-button{
    font-family: DM Sans sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: -0.5314737558364868px;
text-align: center;
color:#5454D4;
padding: 1rem 1rem;
border-radius: 10px;
background-color: #FFFFFF;
 margin: 2rem 2rem;

}
.card-sect{
    display:flex ;
    padding-top: 3rem;

}

